.blur-gradient-overlay {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  mask-image: linear-gradient(
    to bottom,
    transparent 40%,
    black 90%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 40%,
    black 90%
  );
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    #12151700 50%,
    #121517aa
  );
}

.platform-button > * {
  text-decoration: none !important;
}
.platform-button-content {
  transition: background-color .2s;
  cursor: pointer;
}
.platform-button:hover .platform-button-content {
  --background-color: color-mix(in hsl, var(--bs-body-bg) 90%, white);
  background-color: var(--background-color);
}
[data-bs-theme=light] .platform-button-content {
  --background-color: color-mix(in hsl, var(--bs-body-bg) 90%, black) !important;
}

.extension-card-content {
  --card-padding-top: 100px;
  padding-top: var(--card-padding-top) !important;
}

@media screen and (min-width: 992px) {
  .extension-card-content {
    --card-padding-top: 240px;
  }
}

.blueprint-promotion {
  --width: 75%;
  width: var(--width);
}
@media screen and (max-width: 768px) {
  .blueprint-promotion {
    --width: 100% !important;
  }
}